<footer class="row flex-column">

    <div id="soporte">
        <a href="">Soporte técnico</a>
        <a href="">Sobre nosotros</a>
    </div>

    <div id="redes">
        <h6>Nuestras redes</h6>
        <a href=""><span class="brandico-facebook-rect"></span></a>
        <a href=""><span class="brandico-twitter-bird"></span></a>
        <a href=""><span class="brandico-github"></span></a>
        <a href=""><span class="brandico-instagram-filled"></span></a>
        <a href=""><span class="brandico-linkedin-rect"></span></a>
    </div>

    <div id="copyright">
        <p>Copyright @ 2021 por Cristina Orellana</p>
    </div>

</footer>
