


<form>
    <nav class="row justify-content-center navbar navbar-expand-md navbar-dark" id="menuNav" role="nav">
        <button class="navbar-toggler  justify-content-center" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center row " id="menu">

            <a href="">Inicio</a>

            <a href="" class="nav-item">Categorías</a>

            <a href="" class="nav-item">Mis recetas</a>
            <a href="" class="nav-item">Lista de la compra</a>
            <a href="" class="nav-item">Panel Admin</a>



            <!---
            <h:panelGroup rendered="#{empty loginRespaldo.usuarioLogueado}">
                <a class="disabled" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Inicia sesión para acceder" styleClass="nav-item">Mis recetas</a>
                <a class="disabled" disabled="disabled" data-toggle="tooltip" data-placement="top" title="Inicia sesión para acceder" styleClass="nav-item">Lista de la compra</a>
               
            </h:panelGroup>
            -->
        </div>
    </nav>
</form>
